PORT=3000

JWT_SECRET=dev-secret-change-me

FRONTEND_ORIGIN=http://localhost:4200

MONGODB_URI=mongodb+srv://novatech_admin:NovaTech2026%21@novatech-onboarding.flh6jju.mongodb.net/novatech?retryWrites=true&w=majority&appName=novatech-onboarding